/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #121212;
  color: white;
}
main {
  background: #121212;
  color: white;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: crimson;
}
.nav_logo {
  padding: 10px 0;
}
.menu_items {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}
.menu_items li:hover {
  color: #fff;
}

/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(https://telegra.ph/file/3bcb90f0024d155bedc67.png),
  background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
  background-repeat: no-repeat;
}
.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.hero .row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.hero .row h2,
.hero .row p {
  color: #fff;
}
.hero .row h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero .column {
  width: 50%;
}
.buttons {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.btn {
  padding: 14px 26px;
  background: crimson;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
}
.btn:last-child {
  border: 2px solid #fff;
  background: transparent;
  color: white;
}
.btn:last-child:hover {
  background-color: #fff;
  color: #333;
}

.btn-auth {
  padding: 5px 10px;
  background: crimson;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  font-size: 12px;
}
.btn-auth:hover {
  border: 2px solid #fff;
  background: transparent;
  color: white;
}

.hero_img {
  width: 100%;
  z-index: 10;
  position: relative;
  margin-top: 50px;
}
#menu_toggle {
  display: none;
}

/* Reponsive */
@media (width < 860px) {
  #menu_toggle {
    display: block;
  }
  .nav {
    padding: 0 20px;
    background-color: crimson;
  }

  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #121212;
    color: white;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a {
    color: #fff;
  }
  #menu_toggle {
    width: 20px;
    cursor: pointer;
  }
  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row .column {
    width: 100%;
  }
}

@media (width < 600px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h2 {
    font-size: 26px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
}

.about h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
.about p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: roboto;
  margin-bottm: 20px;
}

.wrapper {
  display: grid;
  margin: 200px 90px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
  .wrapper {
    margin: 0px auto;
  }
}

.wrapper .box {
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.wrapper .box .front-face {
  background: #131313;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box .front-face .icon {
  height: 80px;
}

.box .front-face .icon i {
  font-size: 65px;
}

.box .front-face span,
.box .back-face span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box .back-face p {
  margin-top: 10px;
  text-align: justify;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

.service h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 70px;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.card {
  background-color: #121212;
  color: white;
  padding: 70px;
  width: 400px;
}

.card-body {
  text-align: center;
}

/* Responsiveness */
@media screen and (max-width: 767px) {
  .pricing-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}